@model IEnumerable<Restaurant_POS_System.Models.Category>

@{
    ViewData["Title"] = "Index";
}


<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px; margin-right:10px">
    <h4 style="margin: 0;">Menu Types</h4>
    <a asp-action="Create" class="btn btn-primary">New Category</a>
</div>


<table class="table" id="menu-items-table">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            
            <th>Menu Type Action </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        { 
            <tr>
                <td></td>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a>

                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                </td>
                <td></td>
            </tr>
            
        }
    </tbody>
</table>


